@page "/book/{Id:int}"
@using BookStore.Models
@using BookStore.Services
@inject BookService BookService
@inject NavigationManager Nav

<h3>📖 Деталі книги</h3>

@if (book == null)
{
    <p>Книгу не знайдено</p>
}
else
{
    <div class="card">
        <h2>@book.Title</h2>
        <p><b>Автор:</b> @book.Author</p>
        <p><b>Ціна:</b> @book.Price грн</p>
        <p>@book.Description</p>

        <button class="btn delete" @onclick="DeleteBook">Видалити</button>
        <button class="btn edit" @onclick="EnableEdit">Оновити</button>
        <button class="btn back" @onclick="GoBack">Назад</button>
    </div>

    @if (isEditing)
    {
        <div class="edit-form">
            <input @bind="book.Title" placeholder="Назва" />
            <input @bind="book.Author" placeholder="Автор" />
            <input @bind="book.Price" type="number" />
            <textarea @bind="book.Description"></textarea>

            <button @onclick="Save">Зберегти</button>
        </div>
    }
}

@code {
    [Parameter] public int Id { get; set; }

    private Book? book;
    private bool isEditing = false;

    protected override void OnInitialized()
    {
        book = BookService.GetById(Id);
    }

    void DeleteBook()
    {
        var confirm = true; 

        if (confirm)
        {
            BookService.Delete(Id);
            Nav.NavigateTo("/books");
        }
    }

    void EnableEdit()
    {
        isEditing = true;
    }

    void Save()
    {
        BookService.Update(book!);
        isEditing = false;
    }

    void GoBack()
    {
        Nav.NavigateTo("/books");
    }
}