@using TarasMessenger.Core.Models.Messages

<img src="@Message.PicturePath" alt="message-picture" class="message-picture" />
<div class="message-text">@Message.Text</div>

@code {
    [Parameter] public PictureMessage Message { get; set; }
}