.message{
    margin: 0.5rem;
    background: #0a53be;
    color: white;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1.2rem;
    max-width: 300px;
}

.date{
    font-size: 0.8rem;
}

.sender{
    font-size: 0.8rem;
}